<ion-view view-title="    App Math LPR">
  <ion-content class="padding">
    <img src="img/logo.jpg" height="80px" width="105px">
    <p>
    <h4>App Math LPR</h4> Es una aplicativo diseñado para estudiantes de grado septimo,
    con el cual podra afianzar conocimientos en logaritmación, potenciación
    y radicación.
    </p>
    <img src="img/contenido.JPG" height="250px" width="255px">
    <p>
      Contiene información de los temas a tratar, ejemplos y actividades que facilitan la
      apropiación de los conocimientos adquiridos.
    </p>
  </ion-content>

</ion-view>
