
<ion-view view-title="Potencia">
  <ion-content  class="padding">
<head>
	<meta charset="UTF-8">
	<meta name="google" value="notranslate">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
	<meta name="mobile-web-app-capable" content="yes">
	<meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="apple-mobile-web-app-status-bar-style" content="black">
	<link rel="apple-touch-icon-precomposed" href="img/icono.png"/>
	<script src = "//ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
	<title>Trivia</title>
</head>
<body>
	<header>
		<div id = "titulo">
			Trivia
		</div>

	</header>
	<div>
		<p>
				Este juego consiste en responder las preguntas relacionadas con el tema de potenciación, recuerda estar atento al tiempo, solo existe una respuesta correcta. Adelante!
		</p>
	</div>
<ion-item  href="#" onclick="window.open('https://mathapp01.github.io/potenciacion/', '_blank', 'location=yes'); return false;">
			<button class="button button-royal">
				Jugar
			</button>




	</div>
</body>
</ion-content>
</ion-view>
