<ion-view view-title="Logaritmo">
  <ion-content  class="padding">
    <h1>Logartimo</h1>
    <p>
       El logaritmo de un número, en una base dada, es el exponente al cual se debe elevar la base para obtener el número.
       <br>
       <img src="img/logaritmo1.JPG" height="150px" width="310px">
       <br>
       <br>
       <img src="img/logaritmo2.JPG" height="150px" width="310px">
       <br>
       <br>
       <img src="img/logaritmo3.JPG" height="90px" width="310px">
       <br>
       No existe el logaritmo de un número con base negativa.
       <br>
       <img src="img/logaritmo4.JPG" height="150px" width="210px">
       <br>
       No existe el logaritmo de un número negativo.
       <br>
       <img src="img/logaritmo5.JPG" height="130px" width="150px">
       <br>
       No existe el logaritmo de cero.
       <br>
       <img src="img/logaritmo6.JPG" height="130px" width="150px">
       <br>
       El logaritmo de 1 es cero.
       <br>
       <img src="img/logaritmo7.JPG" height="130px" width="150px">
       <br>
       El logaritmo en base a de a es uno.
       <br>
       <img src="img/logaritmo8.JPG" height="130px" width="150px">
       <br>
       El logaritmo en base a de una potencia en base a es igual al exponente.
       <br>
       <img src="img/logaritmo9.JPG" height="130px" width="150px">
       <br>
       <h3>Propiedades de los logaritmos</h3>
       1 El logaritmo de un producto es igual a la suma de los logaritmos de los factores:
       <br>
       <img src="img/logaritmo10.JPG" height="130px" width="230px">
       <br>
       2 El logaritmo de un cociente es igual al logaritmo del dividendo menos el logaritmo del divisor:
       <br>
       <img src="img/logaritmo11.JPG" height="130px" width="230px">
       <br>
       3 El logaritmo de una potencia es igual al producto del exponente por el logaritmo de la base:
       <br>
       <img src="img/logaritmo12.JPG" height="130px" width="220px">
       <br>
       4 El logaritmo de una raíz es igual al cociente entre el logaritmo del radicando y el índice de la raíz:
       <br>
       <img src="img/logaritmo13.JPG" height="130px" width="230px">
       <br>
       5 Cambio de base:
       <br>
       <img src="img/logaritmo14.JPG" height="130px" width="250px">
       <br>

    </p>
    <ion-list>
      <ion-item  href="#/app/ejemplolog">
        <button class="button button-calm" >
            Ejemplos
        </button>
      </ion-item>
      <ion-item  href="#/app/">
        <button class="button button-royal">
          Ejercicios
        </button>
      </ion-item>
  </ion-list>
    <br>
    <p>
      .....<br>...<br>
    </p>
  </ion-content>
</ion-view>
