<ion-view view-title="Potencia">
  <ion-content  class="padding">
    <h1>Potenciación</h1>
    <p>
       La potenciación es una forma abreviada de escribir un producto
        formado por varios factores iguales.
       <br>
       <img src="img/potenciacion1.JPG" height="150px" width="210px">
       <br>
       <h4>Base</h4>
       La base de una potencia es el número que multiplicamos por sí mismo, en este caso el 7.
       <h4>Exponente</h4>
       El exponente de una potencia indica el número de veces que multiplicamos la base, en el ejemplo es el 4.
       <h3>Potencias de exponente natural</h3>
       1.  Un número elevado a 0 es igual a 1.
       <br>
       <img src="img/potenciacion2.JPG" height="150px" width="210px">
       <br>
       2. Un número elevado a 1 es igual a sí mismo.
       <br>
       <img src="img/potenciacion3.JPG" height="150px" width="210px">
       <br>
       3. Producto de potencias con la misma base:
       Es otra potencia con la misma base y cuyo exponente es la suma de los exponentes.
       <br>
       <img src="img/potenciacion4.JPG" height="150px" width="210px">
       <br>
       4. División de potencias con la misma base:
       Es otra potencia con la misma base y cuyo exponente es la diferencia de los exponentes.
       <br>
       <img src="img/potenciacion5.JPG" height="150px" width="210px">
       <br>
       5. Potencia de una potencia:
       Es otra potencia con la misma base y cuyo exponente es el producto de los exponentes.
       <br>
       <img src="img/potenciacion6.JPG" height="150px" width="210px">
       <br>
       6. Producto de potencias con el mismo exponente:
       Es otra potencia con el mismo exponente y cuya base es el producto de las bases.
       <br>
       <img src="img/potenciacion7.JPG" height="150px" width="210px">
       <br>
       7. Cociente de potencias con el mismo exponente:
       Es otra potencia con el mismo exponente y cuya base es el cociente de las bases.
       <br>
       <img src="img/potenciacion8.JPG" height="150px" width="210px">
       <br>
    </p>
    <ion-list>
      <ion-item  href="#/app/ejemplopot">
        <button class="button button-calm" >
            Ejemplos
        </button>
      </ion-item>
      <ion-item  href="#/app/jugar">
        <button class="button button-royal">
          Juego
        </button>
      </ion-item>
  </ion-list>
    <br>
    <p>
      .....<br>...<br>
    </p>
  </ion-content>
</ion-view>
